<!DOCTYPE html>
<html lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>

  
  
  
  
   
  </script>
  
  <form enctype="multipart/form-data">
      <input id="upload" type=file  name="files[]">
  </form>
  
      <textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea>
  
      <script>
          document.getElementById('upload').addEventListener('change', handleFileSelect, false);
  
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.min.js" integrity="sha512-W/mRQs9ZSFpF14X/4aRgQss7+HRsVXsph+Y6DGLeqIqK8IpO+rQz0ISUEXkTeeKF7tivoGv+Ru7SpocS/1qahg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>


