<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recharge Portal</title>
    <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Custom styles for this template-->
    <link href="/css/styles.css" rel="stylesheet">
</head>


<body class="bg-gradient-primary">

    <div class="page-body" bis_skin_checked="1">
        <!-- [ page content ] start -->
        <div class="row" bis_skin_checked="1">
            
            <div style="margin:auto" class="col-md-9 col-lg-9" bis_skin_checked="1">
                <div class="card" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                <h5>Department matrix</h5>
                </div>
                <div class="card-header" bis_skin_checked="1">

            <div class="form-group form-default row" bis_skin_checked="1">

<div class="col-sm-3" bis_skin_checked="1"></div>
</div>
</div>
<div class="card-block" style="overflow: auto;" bis_skin_checked="1">
    <div id="divMatrix" bis_skin_checked="1">
       <table id="codeTable" style="font-size:0.7em;" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Service</th>
            <th>Code</th>
            <th>Type</th>
            <th>Disc</th>
            <th>BA Disc</th>
            <th>Disc Type</th>
            <th title="Customer No Start With">Start With</th>
            <th title="Customer No Min Len">Min Len</th>
            <th title="Customer No Max Len">Max Len</th>
            <th>Min Amt</th>
            <th>Max Amt</th>
            <th>Remarks</th>
            <th>Status</th>
         </tr>
        </thead>
          <tbody>
             <!-- <tr>
                <td>1</td>
                <td>AIRTEL</td>
                <td>AR</td>
                <td>Mobile Recharge</td>
                <td>3.0000</td>
                <td><input type="checkbox" id="chkBA2"> 0.1000</td>
                <td>%</td>
                <td>6,7,8,9</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>2</td>
                <td>BSNL</td>
                <td>BS</td>
                <td>Mobile Recharge</td>
                <td>6.5000</td>
                <td><input type="checkbox" id="chkBA3"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>3</td>
                <td>IDEA</td>
                <td>ID</td>
                <td>Mobile Recharge</td>
                <td>4.3500</td>
                <td><input type="checkbox" id="chkBA4"> 0.2500</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>4</td>
                <td>VODAFONE</td>
                <td>VF</td>
                <td>Mobile Recharge</td>
                <td>4.3500</td>
                <td><input type="checkbox" id="chkBA5"> 0.2500</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>5</td>
                <td>RELIANCE JIO</td>
                <td>RJ</td>
                <td>Mobile Recharge</td>
                <td>2.8000</td>
                <td><input type="checkbox" id="chkBA6"> 0.2500</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>6</td>
                <td>MTNL - SPECIAL TARIFF</td>
                <td>MM</td>
                <td>Mobile Recharge</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA18"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>7</td>
                <td>MTNL - TALKTIME</td>
                <td>MD</td>
                <td>Mobile Recharge</td>
                <td>2.5000</td>
                <td><input type="checkbox" id="chkBA19"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>8</td>
                <td>AIRTEL DTH</td>
                <td>AD</td>
                <td>DTH Recharge</td>
                <td>4.2500</td>
                <td><input type="checkbox" id="chkBA20"> 0.0000</td>
                <td>%</td>
                <td>3</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>9</td>
                <td>DISH TV DTH</td>
                <td>DT</td>
                <td>DTH Recharge</td>
                <td>4.1000</td>
                <td><input type="checkbox" id="chkBA22"> 0.0000</td>
                <td>%</td>
                <td>0</td>
                <td>11</td>
                <td>11</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>10</td>
                <td>TATA SKY DTH</td>
                <td>TS</td>
                <td>DTH Recharge</td>
                <td>3.9000</td>
                <td><input type="checkbox" id="chkBA23"> 0.0000</td>
                <td>%</td>
                <td>1</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>30000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>11</td>
                <td>VIDEOCON DTH</td>
                <td>VD</td>
                <td>DTH Recharge</td>
                <td>4.1000</td>
                <td><input type="checkbox" id="chkBA24"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>4</td>
                <td>10</td>
                <td>10</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>12</td>
                <td>SUN TV DTH</td>
                <td>ST</td>
                <td>DTH Recharge</td>
                <td>4.2000</td>
                <td><input type="checkbox" id="chkBA25"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>13</td>
                <td>AIRTEL POSTPAID</td>
                <td>AP</td>
                <td>Postpaid Payment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA26"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>14</td>
                <td>BSNL POSTPAID</td>
                <td>BP</td>
                <td>Postpaid Payment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA27"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>15</td>
                <td>IDEA POSTPAID</td>
                <td>IP</td>
                <td>Postpaid Payment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA28"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>16</td>
                <td>VODAFONE POSTPAID</td>
                <td>VP</td>
                <td>Postpaid Payment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA29"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>17</td>
                <td>JIO POSTPAID</td>
                <td>RP</td>
                <td>Postpaid Payment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA30"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>18</td>
                <td>TATA POSTPAID</td>
                <td>TP</td>
                <td>Postpaid Payment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA31"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>10</td>
                <td>10</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>19</td>
                <td>AIRTEL LANDLINE</td>
                <td>AL</td>
                <td>Landline Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA34"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>20</td>
                <td>BSNL LANDLINE - INDIVIDUAL</td>
                <td>BL</td>
                <td>Landline Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA35"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>21</td>
                <td>BSNL LANDLINE - CORPORATE</td>
                <td>IL</td>
                <td>Landline Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA36"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>22</td>
                <td>VODAFONE LANDLINE</td>
                <td>VL</td>
                <td>Landline Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA37"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>23</td>
                <td>MTNL MUMBAI LANDLINE</td>
                <td>ML</td>
                <td>Landline Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA38"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr> -->
             <tr>
                <td>24</td>
                <td>PGVCL - GUJARAT</td>
                <td>PGVCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA39"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>25</td>
                <td>MGVCL - GUJARAT</td>
                <td>MGVCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA40"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>20000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>26</td>
                <td>UGVCL - GUJARAT</td>
                <td>UGVCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA41"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>27</td>
                <td>DGVCL - GUJARAT</td>
                <td>DGVCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA42"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>28</td>
                <td>AGRA-TORRENT POWER</td>
                <td>TWE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA43"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <!-- <tr>
                <td>29</td>
                <td>BHARAT PETROLEUM CORPORATION LIMITED (BPCL)</td>
                <td>BPG</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA44"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>49999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>30</td>
                <td>GUJARAT GAS COMPANY LTD</td>
                <td>GGCL</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA45"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr> -->
             <tr>
                <td>31</td>
                <td>MSEDC LIMITED</td>
                <td>MSEDC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA46"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>32</td>
                <td>APDCL  RAPDR</td>
                <td>APDC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA47"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>70000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>33</td>
                <td>APDCL-NON RAPDR</td>
                <td>APDNR</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA48"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>70000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>34</td>
                <td>BANGALORE ELECTRICITY SUPPLY COMPANY</td>
                <td>BESC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA49"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>35</td>
                <td>BHARATPUR ELECTRICITY SERVICES LTD</td>
                <td>BESL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA50"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>36</td>
                <td>BIKANER ELECTRICITY SUPPLY LIMITED (BKESL)</td>
                <td>BKESL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA51"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>37</td>
                <td>BRIHAN MUMBAI ELECTRIC SUPPLY AND TRANSPORT UNDERT</td>
                <td>BMSTU</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA52"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>38</td>
                <td>BSES RAJDHANI</td>
                <td>BSESR</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA53"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>49999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>39</td>
                <td>BSES YAMUNA</td>
                <td>BSESY</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA54"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>49999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>40</td>
                <td>CALCUTTA ELECTRICITY SUPPLY LTD (CESC LTD)</td>
                <td>CESL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA55"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>41</td>
                <td>CHHATTISGARH STATE ELECTRICITY BOARD</td>
                <td>CSEB</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA56"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>42</td>
                <td>CHAMUNDESHWARI ELECTRICITY SUPPLY CORP LTD (CESCOM</td>
                <td>CESCO</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA57"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>43</td>
                <td>DAMAN AND DIU ELECTRICITY DEPARTMENT</td>
                <td>DDED</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA58"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>44</td>
                <td>DAKSHIN HARYANA BIJLI VITRAN NIGAM</td>
                <td>DHBVN</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA59"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>99999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>45</td>
                <td>DNHPDCL - DADRA &amp; NAGAR HAVELI</td>
                <td>DNHPD</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA60"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>46</td>
                <td>EASTERN POWER DISTRIBUTION COMPANY OF ANDHRA PRADE</td>
                <td>EPDCA</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA61"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>47</td>
                <td>PASCHIM KSHETRA VIDYUT VITARAN - INDORE MP</td>
                <td>MPE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA62"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>48</td>
                <td>HUBLI ELECTRICITY SUPPLY COMPANY LTD (HESCOM)</td>
                <td>HESC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA63"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>49</td>
                <td>INDIA POWER CORPORATION LIMITED - BIHAR</td>
                <td>IPCLB</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA64"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>50</td>
                <td>JAMSHEDPUR UTILITIES AND SERVICES COMPANY LIMITED</td>
                <td>JUSC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA65"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>40000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>51</td>
                <td>JAIPUR VIDYUT VITRAN NIGAM - RAJASTHAN</td>
                <td>JRE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA66"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>40000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>52</td>
                <td>JODHPUR VIDYUT VITRAN NIGAM LTD</td>
                <td>JVVNL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA67"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>40000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>53</td>
                <td>JHARKHAND BIJLI VITRAN NIGAM LIMITED (JBVNL)</td>
                <td>JBVNL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA68"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>54</td>
                <td>KOTA ELECTRICITY DISTRIBUTION LTD</td>
                <td>KEDL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA69"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>55</td>
                <td>NESCO - ODISHA</td>
                <td>NOE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA70"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>56</td>
                <td>POORV KSHETRA VITARAN (RURAL) - MADHYA PRADESH</td>
                <td>MAE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA71"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>57</td>
                <td>MEGHALAYA POWER DISTRIBUTION CORPORATI ON LTD</td>
                <td>MPDC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA72"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>58</td>
                <td>MUZAFFARPUR VIDYUT VITRAN LIMITED</td>
                <td>MVVL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA73"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>59</td>
                <td>NORTH DELHI POWER LIMITED (TATA POWER - DDL)</td>
                <td>NDPL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA74"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>60</td>
                <td>NORTH BIHAR POWER DISTRIBUTION COMPANY LTD</td>
                <td>NBPDC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA75"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>50000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>61</td>
                <td>NOIDA POWER COMPANY LIMITED</td>
                <td>NPCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA76"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>62</td>
                <td>MUNICIPAL CORPORATION OF GURUGRAM</td>
                <td>MCOG</td>
                <td>Water Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA77"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>63</td>
                <td>ODISHA DISCOMS</td>
                <td>ODIS</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA78"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>64</td>
                <td>PUNJAB STATE POWER CORPORATION LTD (PSPCL)</td>
                <td>PSPCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA79"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>70000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>65</td>
                <td>ADANI ELECTRICITY MUMBAI LIMITED</td>
                <td>AEML</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA80"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>49000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>66</td>
                <td>AJMER VIDYUT VITRAN NIGAM (AVVNL) - RAJASTHAN</td>
                <td>ARE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA81"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>67</td>
                <td>SOUTH BIHAR POWER DISTRIBUTION COMPANY LTD.</td>
                <td>SBPDC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA82"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>40000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>68</td>
                <td>SNDL NAGPUR</td>
                <td>SNDLN</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA83"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>69</td>
                <td>SOUTHERN POWER DISTR OF ANDHRA PRADESH</td>
                <td>SPDAP</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA84"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>70</td>
                <td>TRIPURA STATE ELECTRICITY CORPORATION LTD</td>
                <td>TSECL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA85"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>71</td>
                <td>TAMIL NADU ELECTRICITY BOARD (TNEB)</td>
                <td>TNEB</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA86"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>72</td>
                <td>TPADL - AJMER</td>
                <td>TPADL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA87"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>73</td>
                <td>TATA POWER – MUMBAI</td>
                <td>TPM</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA88"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>74</td>
                <td>UTTAR HARYANA BIJLI VITRAN NIGAM</td>
                <td>UHBVN</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA89"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>50000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>75</td>
                <td>UTTARAKHAND POWER CORPORATION LIMITED</td>
                <td>UPCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA90"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>76</td>
                <td>UTTAR PRADESH POWER CORP LTD (UPPCL) - URBAN</td>
                <td>UPPCL</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA91"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>50000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>77</td>
                <td>UTTAR PRADESH POWER CORP LTD (UPPCL) - RURAL</td>
                <td>UPPCR</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA92"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>50000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>78</td>
                <td>WBSEDCL - WEST BENGAL ELECTRICITY</td>
                <td>WBSE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA93"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>50000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>79</td>
                <td>POWER &amp; ELECTRICITY DEPARTMENT - MIZORAM</td>
                <td>PME</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA94"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>80</td>
                <td>IGL (INDRAPRASTH GAS LIMITED)</td>
                <td>IGL</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA95"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>81</td>
                <td>MAHANAGAR GAS LIMITED</td>
                <td>MGL</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA96"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>82</td>
                <td>HARYANA CITY GAS</td>
                <td>HCG</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA97"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>83</td>
                <td>INDANE GAS (INDIAN OIL)</td>
                <td>IGG</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA98"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>49999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>84</td>
                <td>TRIPURA NATURAL GAS COMPANY LTD</td>
                <td>TNGCL</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA99"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>85</td>
                <td>SABARMATI GAS LIMITED (SGL)</td>
                <td>SGL</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA100"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>86</td>
                <td>UNIQUE CENTRAL PIPED GASES PVT LTD (UCPGPL)</td>
                <td>UCPGP</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA101"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>87</td>
                <td>VADODARA GAS LIMITED</td>
                <td>VGL</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA102"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>88</td>
                <td>INDIA POWER CORPORATION - WEST BENGAL</td>
                <td>IPCWB</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA103"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>89</td>
                <td>UIT BHIWADI</td>
                <td>UITB</td>
                <td>Water Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA104"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>90</td>
                <td>UTTARAKHAND JAL SANSTHAN</td>
                <td>UJS</td>
                <td>Water Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA105"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>91</td>
                <td>DELHI JAL BOARD</td>
                <td>DJB</td>
                <td>Water Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA106"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>92</td>
                <td>RELIANCE ENERGY ELECTRICITY</td>
                <td>REEC</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA107"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>93</td>
                <td>POORV KSHETRA VITARAN (URBAN) - MADHYA PRADESH</td>
                <td>MCE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA108"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>1</td>
                <td>9</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>94</td>
                <td>MTNL DELHI LANDLINE</td>
                <td>MDL</td>
                <td>Landline Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA110"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>95</td>
                <td>BSNL STV</td>
                <td>BR</td>
                <td>Mobile Recharge</td>
                <td>6.5000</td>
                <td><input type="checkbox" id="chkBA111"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>96</td>
                <td>DOCOMO STV</td>
                <td>TB</td>
                <td>Mobile Recharge</td>
                <td>4.0000</td>
                <td><input type="checkbox" id="chkBA112"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>97</td>
                <td>WESCO - ODISHA</td>
                <td>WOE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA113"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>98</td>
                <td>TORRENT POWER - BHIWANDI</td>
                <td>TXE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA114"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>99</td>
                <td>TORRENT POWER - AHMEDABAD</td>
                <td>TYE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA115"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>100</td>
                <td>TORRENT POWER - SURAT</td>
                <td>TPB</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA116"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>101</td>
                <td>JAMMU AND KASHMIR POWER DEVELOPMENT DEPARTMENT</td>
                <td>JKE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA117"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>102</td>
                <td>SOUTHCO - ODISHA</td>
                <td>SOE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA118"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>103</td>
                <td>SIKKIM POWER (RURAL)</td>
                <td>SKE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA119"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>104</td>
                <td>NDMC - DELHI</td>
                <td>NME</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA120"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>105</td>
                <td>MADHYA KSHETRA VITARAN (URBAN) - MADHYA PRADESH</td>
                <td>MUE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA121"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>106</td>
                <td>MADHYA KSHETRA VITARAN (RURAL) - MADHYA PRADESH</td>
                <td>MME</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA122"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>107</td>
                <td>HIMACHAL PRADESH STATE ELECTRICITY BOARD</td>
                <td>HPE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA123"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>108</td>
                <td>GESCOM - KARNATAKA</td>
                <td>GKE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA124"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>109</td>
                <td>TATA AIG GENERAL INSURANCE</td>
                <td>TAI</td>
                <td>Insurance</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA125"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>110</td>
                <td>TATA AIA LIFE INSURANCE</td>
                <td>TGI</td>
                <td>Insurance</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA126"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>111</td>
                <td>ICICI PRUDENTIAL LIFE INSURANCE</td>
                <td>IPI</td>
                <td>Insurance</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA127"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>112</td>
                <td>AIRTEL J&amp;K</td>
                <td>JRJ</td>
                <td>Mobile Recharge</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA128"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>113</td>
                <td>BSNL TOPUP ( J&amp;K )</td>
                <td>JKT</td>
                <td>Mobile Recharge</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA129"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>114</td>
                <td>BSNL SPECIAL ( J&amp;K )</td>
                <td>JKS</td>
                <td>Mobile Recharge</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA130"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>115</td>
                <td>KESCO - KANPUR</td>
                <td>KUE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA131"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>116</td>
                <td>CONNECT BROADBAND</td>
                <td>CBB</td>
                <td>Broadband Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA132"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>117</td>
                <td>HATHWAY BROADBAND</td>
                <td>HBB	</td>
                <td>Broadband Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA133"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>118</td>
                <td>CONNECT BROADBAND INTERNET BILL</td>
                <td>CBD</td>
                <td>Internet Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA134"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>119</td>
                <td>SIKKIM POWER (URBAN)</td>
                <td>SUE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA135"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>120</td>
                <td>MESCOM - MANGALORE (RAPDRP)</td>
                <td>MSE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA136"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>121</td>
                <td>KSEBL - KERALA</td>
                <td>KSE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA137"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>122</td>
                <td>DEPARTMENT OF POWER - NAGALAND</td>
                <td>NNE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA138"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>123</td>
                <td>ELECTRICITY DEPARTMENT CHANDIGARH</td>
                <td>ECE</td>
                <td>Electricity Bill</td>
                <td>3.0000</td>
                <td><input type="checkbox" id="chkBA139"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>124</td>
                <td>CESU - ODISHA</td>
                <td>COE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA140"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>99999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>125</td>
                <td>BAJAJ FINANCE</td>
                <td>BRL</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA141"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>14</td>
                <td>18</td>
                <td>1</td>
                <td>99999</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>126</td>
                <td>UJJAIN NAGAR NIGAM - PHED</td>
                <td>UMW</td>
                <td>Water Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA142"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>127</td>
                <td>GOOGLE PLAY RECHARGE</td>
                <td>GPC</td>
                <td>Mobile Recharge</td>
                <td>1.0000</td>
                <td><input type="checkbox" id="chkBA143"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>128</td>
                <td>APSPDCL-SOUTHERN POWER DISTRIBUTION CO AP LTD</td>
                <td>ASE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA144"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>129</td>
                <td>TP CENTRAL ODISHA DISTRIBUTION LTD</td>
                <td>TLE</td>
                <td>Electricity Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA145"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>130</td>
                <td>IDFC FIRST BANK</td>
                <td>IFL</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA146"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>131</td>
                <td>LIC</td>
                <td>LIC</td>
                <td>Insurance</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA147"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>50000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>132</td>
                <td>INDUSIND BANK FASTAG</td>
                <td>BFT</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA148"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>133</td>
                <td>PAYTM PAYMENTS BANK FASTAG</td>
                <td>PBT</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA149"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>134</td>
                <td>INDIAN HIGHWAYS MANAGEMENT COMPANY FASTAG</td>
                <td>AFT</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA150"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>135</td>
                <td>ICICI BANK FASTAG</td>
                <td>ICT</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA151"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>136</td>
                <td>BANK OF BARODA FASTAG</td>
                <td>BBT</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA152"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>137</td>
                <td>NETPLUS BROADBAND</td>
                <td>NPB</td>
                <td>Broadband Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA153"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>138</td>
                <td>AXIS BANK FASTAG</td>
                <td>AXF</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA155"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>139</td>
                <td>KOTAK MAHINDRA BANK - FASTAG</td>
                <td>KMF</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA156"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>140</td>
                <td>EQUITAS FASTAG RECHARGE</td>
                <td>EQF</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA157"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>141</td>
                <td>HDFC BANK - FASTAG</td>
                <td>HDF</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA158"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>142</td>
                <td>IDFC FIRST BANK - FASTAG</td>
                <td>IFF</td>
                <td>Loan Installment</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA159"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10000</td>
                <td></td>
                <td>Active</td>
             </tr>
             <tr>
                <td>143</td>
                <td>HINDUSTAN PETROLEUM CORPORATION LTD (HPCL)</td>
                <td>I</td>
                <td>GAS Bill</td>
                <td>0.0000</td>
                <td><input type="checkbox" id="chkBA160"> 0.0000</td>
                <td>%</td>
                <td>*</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>49999</td>
                <td></td>
                <td>Active</td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>
 COPY TO CLIPBOARD 
</div>
</div>

        </div>
        <!-- [ page content ] end -->
    </div>

<!-- Bootstrap core JavaScript-->    
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<!-- Custom scripts for all pages-->

<script src="/js/index.js"></script>
<script src="/js/departments.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script><!-- Page level plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="/js/departments.js"></script>

</body>

</html>