

table {
  font-size: 0.8em;
}


button.dt-button.buttons-html5 {
  border-radius: 5%;
  border:none;
  transition: 0.3s;
}
button.dt-button.buttons-html5:hover{
  background-color: grey;
  transition: 0.3s;
  color:white;

}

#upload-bill-form{
  display: inline-block;
  position: absolute;
  right: 0%;
}

/* #upload-bill-form label{
  color:blue;
} */