
.dropdown-toggle::after {
  content: none;
}
.custom-select::after {
  content: none;
}
.hide {
  display:none;
  transition: 1s;
}
table {
  /* font-size: 0.1em; */
  
  padding-right:0;
  padding-left:0;

}
.horizontal-aligner{
  display: inline-block;
  margin:3%;
}
hr {
  margin:5%;
}
/* a {
  text-decoration: none;
  font-family:sans-serif;
}
a:hover{
  transition: 2s;+
   */
  /* font-size: x-large;
  text-decoration: none;
} */
/* 
span{
  color:rgb(54, 54, 54);
} */
#Balance {
  color:rgb(rgb(255, 255, 255), green, blue);
}
#collapseOne{
  max-width: 100%;
}

button.dt-button.buttons-html5 {
  border-radius: 5%;
  border:none;
  transition: 0.3s;
}
/* button.dt-button.buttons-html5:hover{
  background-color: grey;
  transition: 0.3s;
  color:white;
} */

#upload-bill-form{
  display: inline-block;
  position: absolute;
  right: 0%;
}



.debit {
  color:green;
}
.credit {
  color:red;
}
/* #upload-bill-form label{
  color:blue;
} */




.PROCESSING {
  color:yellow;
}

.SUCCESSFUL {
  color:rgb(31, 182, 31)
}
.FAILED {
  color:red;
  pointer-events: none;
  cursor: default;

}